helmCharts:
  - name: bwprovisioner
    namespace: ${NAMESPACE}
    repository:
      git:
        host: https://github.com/sasahoo-tibco/tp-integration.git
        path: /helm/charts/bwprovisioner
        branch: ${BRANCH}
    values:
      - content: |
          global:
            bwprovisioner:
              data:
                namspace: ${NAMESPACE}
              image:
                registry: 664529841144.dkr.ecr.ap-southeast-2.amazonaws.com
                tag: 35-m1-ext
          ingress:
            annotations:
              haproxy.org/cors-enable: "true"
              haproxy.org/load-balance: leastconn
              haproxy.org/src-ip-header: X-Real-IP
              haproxy.org/timeout-http-request: 600s
              ingress.kubernetes.io/rewrite-target: /
              meta.helm.sh/release-name: bwprovisioner
              meta.helm.sh/release-namespace: ${NAMESPACE}
            enabled: true
            hostsOverride: false
          volumes:
            bwprovisioner:
              # subPath is optional, if empty, default path will be used
              subPath: ""
              persistentVolumeClaim:
                create: true
              # Storage details needs to provided
              storageClassName: "" # Storage Class Name is compulsory
              resources:
                requests:
                  storage: 1Gi # Storage size should be provided
    flags:
      install: true
      createNamespace: true
      dependencyUpdate: true

