capabilityId: TETRIS
version: 1.0.0
recipe:
  helmCharts:
    - name: artifactmanager
      namespace: tibco-dp-chcj8202p4gfuco11te0
      repository:
        git:
          host: https://github.com/sasahoo-tibco/tp-integration.git
          path: /helm/charts/artifactmanager
          branch: main
      values:
        - content: |
            global:
              artifactmanager:
                data:
                  namspace: tibco-dp-chcj8202p4gfuco11te0
                image:
                  registry: 664529841144.dkr.ecr.us-west-2.amazonaws.com
                  tag: 11-m1-ext
            ingress:
              annotations:
                haproxy.org/cors-enable: "true"
                haproxy.org/load-balance: leastconn
                haproxy.org/src-ip-header: X-Real-IP
                haproxy.org/timeout-http-request: 600s
                ingress.kubernetes.io/rewrite-target: /
                meta.helm.sh/release-name: artifactmanager
                meta.helm.sh/release-namespace: tibco-dp-chcj8202p4gfuco11te0
              enabled: true
              hostsOverride: false
            volumes:
              artifactmanager:
                persistentVolumeClaim:
                  create: true
                  storageClassName: "gp2"
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 2Gi
      flags:
        install: true
        createNamespace: true
        dependencyUpdate: true
isDevTesting: true
status: deployed
region: us-west-2
tags:
  - Tag1
  - Tag2
