apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "apiserver.fullname" . }}
  labels:
    {{- include "apiserver.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "apiserver.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "apiserver.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.rbac.enabled }}
      serviceAccountName: {{ include "apiserver.sa" . }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ .Values.global.apiserver.image.registry }}/piap/api-server:{{ .Values.global.apiserver.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: v1/liveness
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- range $filename, $content :=  .Values.config }}
            {{- if $content }}
            - name: {{ $filename }}
              valueFrom:
                configMapKeyRef:
                  name: {{ $.Release.Name }}-{{ $.Chart.Name }}-serviceconfig
                  key: {{ $filename }}
            {{- end }}
            {{- end }}
            - name: DATAPLANE_ID
              value: {{ .Values.global.cp.dataplaneId }}
            - name: INSTANCE_ID
              value: {{ .Values.global.cp.instanceId }}
            - name: SERVER_PORT
              value: "{{ .Values.service.port }}"
            - name: CP_DOMAIN
              value: {{ include "apiserver.cp.domain" . }}
        {{- if .Values.global.apiserver.logging.enabled }}
        - name: fluent-bit
          image: {{ .Values.global.apiserver.logging.image.registry }}/tci/fluent-bit:{{ .Values.global.apiserver.logging.image.registry.tag }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          resources:
            {{- toYaml .Values.global.apiserver.deploymanager.resources | nindent 12 }}
          securityContext:
            privileged: true
          ports:
            - containerPort: 2020
          env:
            - name: ACCOUNT_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-{{ .Chart.Name }}-serviceconfig
                  key: SERVICE_LOGSERVER_HOST
            - name: SERVICE_LOGSERVER_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-{{ .Chart.Name }}-serviceconfig
                  key: SERVICE_LOGSERVER_HOST

            - name: SERVICE_LOGSERVER_USER
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-{{ .Chart.Name }}-serviceconfig
                  key: SERVICE_LOGSERVER_USER

            - name: LOGSERVER_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-{{ .Chart.Name }}-serviceconfig
                  key: LOGSERVER_PASSWORD

            - name: SERVICE_LOGSERVER_INDEX
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-{{ .Chart.Name }}-serviceconfig
                  key: SERVICE_LOGSERVER_INDEX

            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: TIBCO_INTERNAL_INTERCOM_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-{{ .Chart.Name }}-serviceconfig
                  key: TIBCO_INTERNAL_INTERCOM_URL
            - name: POD_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
            - name: CONTAINER_NAME
              value: {{ .Chart.Name }}

          volumeMounts:
            - name: dockercontainerlogs
              mountPath: /var/lib/docker/containers/
            - name: podlogs
              mountPath: /var/log/pods
            - name: fluent-bit-config
              mountPath: /fluent-bit/etc/
        terminationGracePeriodSeconds: 10
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.global.apiserver.logging.enabled }}
        - name: dockercontainerlogs
            hostPath:
              path: /var/lib/docker/containers/
        - name: podlogs
          hostPath:
            path: /var/log/pods
        - name: fluent-bit-config
          configMap:
            name: {{ include "apiserver.fluentConf" . }}
        {{- end }}
